@model ComapnyWebApp.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EmployeeCode">Employee Code:</label>
                <input asp-for="EmployeeCode" class="form-control" />
                @Html.ValidationMessageFor(m => m.EmployeeCode, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" type="password"
                       class="form-control" />
                @*@Html.TextBoxFor(x=>x.Password)*@
                @Html.ValidationMessageFor(x=>x.Password)
            </div>
        </div><br />
        <div class="col-md-3 offset-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>

